@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ---------------------------------- */
/*                RESET               */
/* ---------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------------------------- */
/*                BODY                */
/* ---------------------------------- */

body {
  background-color: #011e3e;
  font-family: "Roboto", sans-serif;
}

/* ---------------------------------- */
/*               HEADER               */
/* ---------------------------------- */
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;

  margin-top: 3rem;
  padding: 2.5rem 1rem;
  background-color: #ddb525;
  color: #011e3e;
  font-weight: 400;
}

.header img {
  width: 10rem;
  aspect-ratio: 1;
}

/* ---------------------------------- */
/*              CONTAINER             */
/* ---------------------------------- */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.container form input {
  width: 20rem;
  padding: 0.5rem;
  outline: none;
}

/* ---------------------------------- */
/*            CARDCONTAINER           */
/* ---------------------------------- */

.cardContainer {
  max-width: 70rem;
  padding: 2rem;
  margin: 1rem auto;
  border-radius: 10px;
  background-color: #011e3e;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 2rem;
}

/* ---------------------------------- */
/*             PLAYERCARD             */
/* ---------------------------------- */

.playerCard {
  width: 15rem;
  height: 25rem;
  border-radius: 10px;
  color: #fff;

  border: 2px solid #ddb525;
}

.playerCard-top {
  width: 100%;
  height: 90%;
}

.playerCard-top img {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  object-fit: cover;
  transition: scale 0.2s;
}

.playerCard-top img:hover {
  scale: 0.95;
}

.playerCard-top .playerStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ddb525;
  width: 100%;
  height: 90%;

  /* border: 2px solid #ddb525; */
}

.playerStats p {
  font-size: 1.3rem;
  font-weight: 400;
  width: 10rem;
  color: #011e3e;
}

.playerCard h3 {
  text-align: center;
  font-weight: 300;
}
