/* ---------------------------------- */
/*                RESET               */
/* ---------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------------------------- */
/*                BODY                */
/* ---------------------------------- */

/* ---------------------------------- */
/*               HEADER               */
/* ---------------------------------- */
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;

  margin-top: 5rem;
  padding: 1rem;
}

.header img {
  width: 10rem;
  aspect-ratio: 1;
}

.header input {
  width: 30%;
  padding: 0.5rem;
  outline: none;
}

/* ---------------------------------- */
/*            CARDCONTAINER           */
/* ---------------------------------- */

.cardContainer {
  max-width: 70rem;
  padding: 2rem;
  margin: 5rem auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 2rem;
}

/* ---------------------------------- */
/*             PLAYERCARD             */
/* ---------------------------------- */

.playerCard {
  width: 15rem;
  height: 25rem;
  border-radius: 10px;

  border: 2px solid #fff;
}

.playerCard-top {
  width: 100%;
  height: 90%;
}

.playerCard-top img {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  object-fit: cover;
  transition: scale 0.2s;
}

.playerCard-top img:hover {
  scale: 0.95;
}

.playerCard-top .playerStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;

  border: 2px solid black;
}

.playerCard h3 {
  text-align: center;
}
